@import url("bootstrap.min.css");
@import url("bootstrap-theme.min.css");


header#mainheader {
	position: relative;
	width: 100%;
	margin-bottom: -4%;
}

video#bgvid {
	position: absolute; top: 0; left: 50%;
	margin-left: -50%;
	width: 100%;
	z-index: -5;
	background: url(../vid/bitwrk-background.jpg) no-repeat;
	background-size: cover;
}

div.logobox {
	width: 50%;
	height: 12%;
	padding-top: 6%;
	padding-bottom: 8%;
	margin: 0 auto;
	overflow: overlay;
}

div.logo {
	margin: auto auto;
	text-align: center;
}

img#logo {
	max-width: 100%;
}

.tagline {
	color: #fff;
	opacity: .3;
	width: 100%;
	font-size: 150%;
	font-weight: lighter;
	text-align: center;
}

div.landing {
	background: rgb(55, 55, 55);
	/*min-height: 100vh;*/
	position: relative;
	z-index: 20;
	padding-bottom: 30px;
	border-bottom: 4px solid rgb(168, 69, 42);
}

div.maincontent {
	background: white;
	padding-top: 30px;
	min-height: 100vh;
	color: rgb(41, 47, 51);
	padding-bottom: 2%;
}

h1, h2, h3, h4, h5, h6, dt {
	/*font-weight: lighter;*/
	color: rgb(89, 144, 185);
}

.midsection {
	color: #cba;
	background: rgb(168, 69, 42);
	padding-top: 2%;
	padding-bottom: 2%;
	/*min-height: 100vh;*/
	font-weight: lighter;
	font-size: 160%;
}

.midsection a:hover {
	color:white;
	background: rgba(255, 255, 255, 0.5);
}

.midsection2 {
	background: rgb(175, 101, 80);
}

.midsection3 {
	color: #C1E2FB;
	background: rgb(89, 144, 185);
}

.midsection h1, .midsection h2, .midsection h3, .midsection h4, .midsection h5, .midsection h6, .midsection dt, .midsection a {
	font-weight: initial;
	color: #edc;
}

.midsection3 h1, .midsection3 a {
	color: #EAF6FF;
}

.midsection p {
	padding-left: 1em;
}

.jumbotron h1 {
	font-weight: lighter;
	color: rgb(89, 144, 185);
}

.jumbotron {
	border-bottom: 1px solid rgb(89, 144, 185);
	border-top: 1px solid rgb(168, 69, 42);
	background: #282828;
	color: rgb(168, 69, 42);
}

.btn-download {
	border-color: rgb(89, 144, 185);
	border-radius: 3px;
	font-weight: bold;
	font-size: 120%;
}

.btn-download:hover {
	border-color: rgb(89, 144, 185);
	background: rgb(89, 144, 185);
	color: white;
}

.btn-learnmore {
	border-color: rgba(255, 255, 255, 0.5);
	border-radius: 3px;
}


img.screenshot {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

div.screenshot-caption {
	margin-bottom: 2em;
	padding-right: 3em;
	padding-left: 3em;
}

ul.nav-tabs {
	margin-bottom: 15px;
}

.thumbnail-width {
	width: 266px;
}

a, a:hover {
	color: #87c2ed;
}

@media (max-width: 768px) {
	header  div.tagline {
		font-size: 120%;
	}
}
@media (max-width: 640px) {
	header  div.tagline {
		font-size: 90%;
	}
	
	.media-left, .media-right {
		display: block;
	}
}
@media (max-width: 480px) {
	header  div.tagline {
		color: #888;
		opacity: 1;
	}
	header video#bgvid {
		display: none;
	}
	header#mainheader {
		margin-bottom: 0px;
	}
	div.logobox {
		position:relative;
		top: auto; left: auto;
		max-width: 80%;
		margin: auto;
	}
}

